@import "bootstrap/responsive.less";
@import "bootstrap/bootstrap.less";

@gridColumns:             12;
@gridColumnWidth:         60px;
@gridGutterWidth:         20px;
@gridRowWidth:            (@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns - 1));

@baseFontSize:          16px;
@baseFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif;
@baseLineHeight:        22px;
@textColor:             @grayDark;

@blue: #1C64BF;
@darkBlue: darken(@blue, 20%);
@darkerBlue: darken(@blue, 35%);
@green: #3BB52C;
@darkGreen: darken(@green, 20%);
@darkerGreen: darken(@green, 35%);

/* ===== Primary Styles ========================================================
   Author: Nick DeMonner
   ========================================================================== */

html {
}

body {
  #gradient > .vertical-with-image('/media/img/circles.png', @grayLighter, @grayLight);
}

.container {
  .container-fluid();
}

p {
  color:#666;
}

.viewer {
  margin-top:5px;
  background-color:#eee;
  border:1px solid #aaa;
  .box-shadow(0 0 5px rgba(0,0,0,.25));
}

.sidebar {
  padding:10px;
  background-color: #ddd;
  border-right: 1px solid #aaa;

  ul {
    margin-left:0 !important;

    .nav-header {
      color:#666;
    }

    li {
      font-size:14px;
      margin-left:10px;

      a {
        color: #888;
        text-shadow: 0 1px 0 rgba(255,255,255,1);
      }

      a:hover {
        color: #666;
        text-shadow: 0 1px 0 rgba(255,255,255,1);
        background-color: #ddd;
      }
    }
  }
}

.nav-list .active > a {
  color: #666;
  text-shadow: 0 1px 0 rgba(255,255,255,1);
  background-color: #ddd;
}

.nav-list .active > a:hover {
  color: #666;
  background-color: #ddd;
}

.document {
  padding:25px;
  padding-left:35px;
  margin-left:0 !important;
}

.logo {
  margin-top:20px;
  height:50px;
}

footer {
  margin-top:25px;
  margin-bottom:25px;
  text-align:center;
}
